* {
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
    
}

h1 {
    color: white;
    margin-bottom: 30px;
}

.ball {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1;
    background-color: rgb(222, 90, 121);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}

.ball2 {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.click-balls{
     display: flex;
}

.ball3 {
    width: 100px;
    aspect-ratio: 1;
    margin-right: 20px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: rgb(64, 81, 192);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.ball4 {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: 20px;
    background-color: rgb(64, 81, 192);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}