* {
    box-sizing: border-box;
}

body{
    background-color: black;
text-align: center;
}

h1{
    color: white;
    margin-bottom: 30px;
}

.ball{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(222, 90, 121);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}